@import "./base/_vars.sass"
@import "./base/_mixins.sass"
.carousel
    display: inline-block
    max-width: 50%
    text-align: center
    & > div
        display: inline-block
    & > div:not(:first-child)
        margin: 0 10px