@import "./base/_vars.sass"
*
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none

header
    background: url("../img/slider-img.jpeg") no-repeat center center / cover

.container
    max-width: 1170px
    margin: 0 auto
@media (max-width: 991.98px)
    .container
        width: 80%
@media (max-width: 767.98px)
    .container
        width: 80%
@media (max-width: 575.98px)
    .container
        width: 80%
a
    text-decoration: none

ul
    list-style-type: none

.clearfix:after
    content: ""
    display: table
    clear: both

.header
    padding-top: 63px
@media (max-width: 992px)
    .header
        padding-top: 40px

.featuredProduct
    min-height: 610px
.clf
    clear: both

.detailHeader
    height: 120px
    background: $light
.detailsSlider
    padding-top: 100px