@import "./base/_mixins.sass"
@import "./base/_vars.sass"

.promo
    height: 682px
    background: cover
    overflow: hidden
    &__card
        position: relative
        // width: (50%-0.15%)
        width: 50%
        height: 682px
        float: left
    &__cardWrapper
        width: 1350px
        margin: 0 auto
    &__position
        position: absolute
        top: 50%
        left: 0
        transform: translate(50px, -50%)