@import "./base/_mixins.sass"
@import "./base/_vars.sass"

.promo
    min-height: 682px
    background-size: cover
    overflow: hidden
    &__card
        position: relative
        width: 50%
        height: 682px
        &:first-child
            float: right
        & > img 
            position: absolute
            right: 0
    &__cardWrapper
        max-width: 1350px
        margin: 0 auto
    &__position
        position: absolute
        top: 50%
        left: 0
        transform: translate(50px, -50%)
@media (max-width: 992px)
    .promo
        &__card
            width: 100%
            &:first-child
                float: none
        &__cardWrapper
            width: 100%